# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\yunxiaochou\Column_generation_vrp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
